#graph {
  background-color: #F8F8F8;
}

marker.arrow {
  fill: #000;
}

marker.hovered {
  fill: #f00;
}

circle {
  fill:none;
  stroke: #000;
  stroke-width: 1.5px;
}

.node circle.ring, .node rect.ring {
  fill: #fff;
  stroke: #f00;
  stroke-width: 3px;
}

.node.active circle, .node.active rect {
  stroke-width: 3px;
}

.node.active circle:first-child {
  stroke: #f00;
}

.node.active rect {
  stroke: #f90;
}

.node.activeIndex rect {
  stroke: #f00;
  stroke-width: 3px;
}

.node circle, .property rect, .datatypeProperty rect, .type rect {
  cursor: pointer;
}

.node circle, .property rect {
  fill: #acf;
}

.datatypeProperty rect {
  fill: #9c6;
}

.node circle:hover, .property rect:hover, .datatypeProperty rect:hover {
  fill: #f00;
}

.type rect {
  stroke: #000;
  stroke-width: 1.5px;
}

.node text, .type text, .link text {
  font: 12px sans-serif;
  pointer-events: none;
  stroke: none;
}

.link {
  stroke: #000;
  fill: none;
}

.link:hover {
  stroke: #f00;
  stroke-opacity: 1.0;
}

.link:hover text.text {
  fill: #f00;
}
