<!--suppress HtmlUnknownTarget -->
<div class="container-fluid">
  <div class="row">

    <!-- Graph view -->
    <div class="col-sm-9 col-md-10 main">
      <div id="graph" node-link-graph margin="10" on-click="vm.onClick(item)">
      </div>
    </div>

    <!-- Sidebar for details -->
    <div class="col-sm-3 col-md-2 sidebar">
      <uib-accordion>
        <uib-accordion-group is-open="vm.showSelection">
          <uib-accordion-heading>
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Selection
          </uib-accordion-heading>
          <selection-group selected-item="vm.selected"></selection-group>
        </uib-accordion-group>

        <uib-accordion-group is-open="false">
          <uib-accordion-heading>
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filters
          </uib-accordion-heading>
          <filter-group></filter-group>
        </uib-accordion-group>

        <uib-accordion-group>
          <uib-accordion-heading>
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Graph
          </uib-accordion-heading>
          <graph-settings-group></graph-settings-group>
        </uib-accordion-group>

        <uib-accordion-group>
          <uib-accordion-heading>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Namespaces
          </uib-accordion-heading>
          <namespace-group></namespace-group>
        </uib-accordion-group>

        <uib-accordion-group is-open="true">
          <uib-accordion-heading>
            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Endpoint
          </uib-accordion-heading>
          <endpoint-group restart="vm.restartLoading()" stop="vm.stopLoading()"></endpoint-group>
        </uib-accordion-group>
      </uib-accordion>
    </div><!--end of sidebar -->
  </div><!-- end of .row -->
</div><!-- end of .container-fluid -->
