<div class="container">
  <h2>General</h2>
  <form class="form-horizontal well">

    <div class="form-group">
      <label class="control-label col-sm-2" for="lang">Language</label>
      <div class="col-sm-4">
        <select class="form-control" name="lang" id="lang" ng-model="vm.currentLanguage"
                ng-change="vm.updateLabelLanguage()"
                ng-options="language.id as language.name for language in vm.availableLanguages">
        </select>
      </div>

      <label for="limit" class="col-sm-2 control-label">Limit</label>
      <div class="col-sm-4">
        <input class="form-control" id="limit" type="number" ng-model="vm.currentLimit" />
      </div>
    </div><!-- /.form-group -->

    <div class="form-group">
      <div class="col-lg-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.propsOrdered" ng-change="vm.updatePropsOrdered()">
            fetch properties ordered
          </label>
        </div>
      </div>
    </div><!-- /.form-group -->
  </form>

  <h2>Blacklists</h2>
  <form class="form-horizontal well">
    <div class="form-group">
      <label class="control-label col-sm-2">Lists</label>
      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.enabled.RDF" ng-change="vm.restoreDefaults()">
            RDF
          </label>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.enabled.RDFS" ng-change="vm.restoreDefaults()">
            RDFS
          </label>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.enabled.OWL" ng-change="vm.restoreDefaults()">
            OWL
          </label>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.enabled.SKOS" ng-change="vm.restoreDefaults()">
            SKOS
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <p class="help-block">Watch out, any manual changes below will be overwritten!</p>
      </div>
    </div>
  </form>

  <form class="form-horizontal well">
    <div class="form-group">
      <label for="classBlacklist" class="control-label col-sm-2">Classes</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="classBlacklist" rows="6" ng-model="vm.classBlacklistInput">
        </textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="propBlacklist">Properties</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="propBlacklist" rows="6" ng-model="vm.propertyBlacklistInput">
        </textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <div class= "pull-right">
          <button type="button" class="btn btn-default" ng-click="vm.restoreDefaults()">
            Restore Defaults
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.save()">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
