<form class="form-horizontal">

  <div class="checkbox">
    <label for="showLiterals">
      <input id="showLiterals" type="checkbox" ng-model="vm.extractTypes" ng-change="vm.toggleTypes()">
      Show datatypes
    </label>
  </div>

  <div class="checkbox">
    <label for="includeLoops">
      <input id="includeLoops" type="checkbox" ng-model="vm.includeLoops" ng-change="vm.toggleLoops()">
      Show property loops
    </label>
  </div>

  <div class="checkbox">
    <label for="includeSubclassRelations">
      <input id="includeSubclassRelations" type="checkbox" ng-model="vm.includeSubclassRelations"
             ng-change="vm.toggleSubclassRelations()">
      Show subclass relations
    </label>
  </div>

  <div class="checkbox">
    <label for="includeDisjointNode">
      <input id="includeDisjointNode" type="checkbox" ng-model="vm.includeDisjointNode"
             ng-change="vm.toggleDisjointNode()">
      Show disjoint classes
    </label>
  </div>

</form>
