<form class="form-horizontal">

  <div class="checkbox">
    <label for="showDataTypes">
      <input id="showDataTypes" type="checkbox" ng-model="vm.filterDataTypes" ng-change="vm.toggleDataTypes()">
      datatypes
    </label>
  </div>

  <div class="checkbox">
    <label for="includeLoops">
      <input id="includeLoops" type="checkbox" ng-model="vm.filterLoops" ng-change="vm.toggleLoops()">
      property loops
    </label>
  </div>

  <div class="checkbox">
    <label for="includeSubclassRelations">
      <input id="includeSubclassRelations" type="checkbox" ng-model="vm.filterSubclassRelations"
             ng-change="vm.toggleSubclassRelations()">
      subclass relations
    </label>
  </div>

  <div class="checkbox">
    <label for="includeDisjointNode">
      <input id="includeDisjointNode" type="checkbox" ng-model="vm.filterDisjointNodes"
             ng-change="vm.toggleDisjointNode()">
      class disjointness
    </label>
  </div>

</form>
