<div>

  <p><strong>External Elements</strong></p>

  <div class="checkbox">
    <label for="differentExternalColors">
      <input id="differentExternalColors" type="checkbox" ng-model="vm.differentColors"
             ng-change="vm.toggleDifferentColors()">
      use different colors
    </label>
  </div>

  <p><strong>Distances</strong></p>

  <p>
    <label for="ctEdgeLength">Class to Class: {{ ccEdgeLength }}</label>
    <div id="ccEdgeLength" slider class="cdbl-slider" model="ccEdgeLength" min="10" max="100"></div>
  </p>

  <p>
    <label for="ctEdgeLength">Class to Type: {{ ctEdgeLength }}</label>
    <div id="ctEdgeLength" slider class="cdbl-slider" model="ctEdgeLength" min="10" max="100"></div>
  </p>

</div>
