<!-- for selected classes -->
<div ng-if="vm.selected !== undefined && vm.selected.type === 'class'">

  <p>
    <strong>Type:</strong> {{ vm.selected.type }}
  </p>

  <p>
    <strong>URI:</strong>
    <a href="{{vm.selected.uri}}" target="_blank">
      {{ vm.selected.uri }}
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p ng-if="vm.selected.name !== ''">
    <strong>Label:</strong> {{vm.selected.name}}
  </p>

  <!-- for a single equivalentURI -->
  <p ng-if="selected.equivalentURIs !== undefined && selected.equivalentURIs.length === 1">
    <strong>Equivalent Class:</strong>
    <a href="{{vm.selected.equivalentURIs[0]}}" target="_blank">
      {{vm.selected.equivalentURIs[0] | uriLabel}}
      <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
    </a>
  </p>

  <!-- for multiple equivalent URIs -->
  <div ng-if="vm.selected.equivalentURIs !== undefined && vm.selected.equivalentURIs.length > 1">
    <p>
      <strong>Equivalent Classes:</strong>
    </p>
    <ul>
      <li ng-repeat="equivURI in vm.selected.equivalentURIs | limitTo: vm.numberOfProps">
        <a href="{{equiv}}" target="_blank">
          {{equivURI | uriLabel}}
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        </a>
      </li>
    </ul>

    <button ng-if="vm.selected.equivalentURIs.length >= vm.numberOfProps" type="button" class="btn btn-link"
            ng-click="vm.incNumberOfProps()">
      show more ...
    </button>
  </div>

  <p>
    <strong># Instances:</strong>
    {{vm.selected.value | number}}
  </p>

  <p ng-hide="vm.selected.comment === undefined" class="comment">
    <strong>Comment:</strong>
    <span>{{ vm.selected.comment }}</span>
  </p>
</div>
