<!-- for selected datatype properties -->
<div ng-show="selected !== undefined && selected.type === 'datatypeProperty'">
  <p>
    <strong>Type:</strong> datatype property
  </p>

  <p ng-hide="selected.props.length < 1">
    <strong>URI:</strong>
    <a href="{{selected.props[0].uri}}" target="_blank">
      {{selected.props[0].uri}}
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong>From instances of:</strong>
    <a href="{{selected.sourceURI}}" target="_blank">
      {{selected.sourceName}}
      <span ng-hide="selected.sourceName.length > 0">{{selected.sourceURI | uriLabel}}</span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong>To instances of data type:</strong>
    <a href="{{selected.targetURI}}" target="_blank">
      {{selected.targetURI | uriLabel}}
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>
</div>
