<!-- for selected properties -->
<div ng-if="vm.selected !== undefined && vm.selected.type === 'property'">
  <p>
    <strong>Type:</strong> {{vm.selected.type}}
  </p>

  <p ng-if="vm.selected.props.length === 1">
    <strong>URI:</strong>
    <a href="{{vm.selected.props[0].uri}}" target="_blank">
      {{vm.selected.props[0].uri}}
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong>From instances of:</strong>
    <a href="{{vm.selected.sourceURI}}" target="_blank">
      {{vm.selected.sourceName}}
      <span ng-if="vm.selected.sourceName.length === 0">
        {{vm.selected.sourceURI | uriLabel }}
      </span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong>To instances of:</strong>
    <a href="{{vm.selected.targetURI}}" target="_blank">
      {{vm.selected.targetName}}
      <span ng-if="vm.selected.targetName.length === 0">
        {{vm.selected.targetURI | uriLabel }}
      </span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong ng-if="vm.selected.props.length > 1 && vm.selected.props.length <= vm.numberOfProps">
      Properties ({{vm.selected.props.length}}):
    </strong>
    <strong ng-if="vm.selected.props.length > vm.numberOfProps">
      Properties ({{vm.numberOfProps}} of {{vm.selected.props.length}}):
    </strong>
  </p>

  <div ng-if="vm.selected.props.length > 1" class="prop-list">

    <!-- if props are NOT ordered -->
    <ul class="properties" ng-if="!vm.selected.ordered">
      <li ng-repeat="p in vm.selected.props | limitTo: vm.numberOfProps">
        <a href="{{p.uri}}" target="_blank">
          {{p.uri | uriLabel}}
          <span class="glyphicon glyphicon-new-window"></span>
        </a>
      </li>
    </ul>

    <!-- if props are ordered -->
    <ol class="properties" ng-if="vm.selected.ordered">
      <li ng-repeat="p in vm.selected.props | limitTo: vm.numberOfProps">
        <a href="{{p.uri}}" target="_blank">
          {{p.uri | uriLabel}}
          <span class="glyphicon glyphicon-new-window"></span>
        </a>
        ({{p.value | number}})
      </li>
    </ol>

    <button ng-if="vm.selected.props.length > vm.numberOfProps" type="button" class="btn btn-link"
            ng-click="vm.incNumberOfProps()">
      show more ...
    </button>
  </div>

  <!-- for single properties -->
  <div ng-if="vm.selected.props.length === 1">
    <p>
      <strong># Domain Instances:</strong> {{vm.selected.props[0].value | number}}
    </p>
  </div>

  <p ng-if="vm.selected.comment !== undefined">
    <strong>Comment:</strong>
    <span>{{ vm.selected.comment }}</span>
  </p>
</div>
