<!-- for selected subclass properties -->
<div ng-if="vm.selected !== undefined && vm.selected.type === 'subClassProperty'">

  <p>
    <strong>Type:</strong>
    subclass relation
  </p>

  <p>
    <strong>Parent Class:</strong>
    <a href="{{vm.selected.targetURI}}" target="_blank">
      {{vm.selected.targetName}}
      <span ng-if="vm.selected.targetName.length === 0">
        {{vm.selected.targetURI | uriLabel }}
      </span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong>Child Class:</strong>
    <a href="{{vm.selected.sourceURI}}" target="_blank">
      {{vm.selected.sourceName}}
      <span ng-if="vm.selected.sourceName.length === 0">
        {{vm.selected.sourceURI | uriLabel }}
      </span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p ng-if="vm.selected.commonCount !== undefined">
    <strong>Common Instances:</strong>
    {{vm.selected.commonCount | number}}
  </p>
</div>
