<!-- for selected subclass properties -->
<div ng-show="selected !== undefined && selected.type === 'subClassProperty'">

  <p>
    <strong>Type:</strong>
    subclass relation
  </p>

  <p>
    <strong>Parent Class:</strong>
    <a href="{{selected.targetURI}}" target="_blank">
      {{selected.targetName}}
      <span ng-hide="selected.targetName.length > 0">{{selected.targetURI | uriLabel }}</span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p>
    <strong>Child Class:</strong>
    <a href="{{selected.sourceURI}}" target="_blank">
      {{selected.sourceName}}
      <span ng-hide="selected.sourceName.length > 0">{{selected.sourceURI | uriLabel }}</span>
      <span class="glyphicon glyphicon-new-window"></span>
    </a>
  </p>

  <p ng-hide="selected.commonCount === undefined">
    <strong>Common Instances:</strong>
    {{selected.commonCount | number}}
  </p>
</div>
