<div>
  <p>
    <strong>URL:</strong>
    <a href="{{vm.endpointURL}}" target="_blank">{{vm.endpointURL}}</a>
  </p>

  <p>
    <strong>Pending Requests:</strong>
            <span ng-hide="pendingRequests === 0">{{pendingRequests | number}}
              <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
            </span>
    <span ng-show="pendingRequests === 0">None</span>
  </p>

  <p>
    <strong>Successful Requests:</strong>
    <span ng-hide="successfulRequests === 0">{{successfulRequests | number}}</span>
    <span ng-show="successfulRequests === 0">None</span>
  </p>

  <p>
    <strong>Failed Requests:</strong>
    <span ng-hide="failedRequests === 0">{{failedRequests | number}}</span>
    <span ng-show="failedRequests === 0">None</span>
  </p>
</div>
