<!--suppress HtmlUnknownTarget -->
<div class="container-fluid">
  <div class="row">

    <!-- Graph view -->

    <div class="col-sm-9 col-md-10 main">
      <div id="graph" node-link-graph margin="10" on-click="onClick(item)">
      </div>
    </div>

    <!-- Sidebar for details -->

    <div class="col-sm-3 col-md-2 sidebar">
      <uib-accordion close-others="false">

        <uib-accordion-group is-open="showSelection">

          <uib-accordion-heading>
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Selection
          </uib-accordion-heading>

          <selection-group></selection-group>

        </uib-accordion-group>

        <uib-accordion-group is-open="false">

          <uib-accordion-heading>
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filters
          </uib-accordion-heading>

          <filter-group></filter-group>

        </uib-accordion-group>

        <uib-accordion-group heading="Graph">
          <graph-settings-group></graph-settings-group>
        </uib-accordion-group>

        <uib-accordion-group heading="Namespaces">
          <namespace-group></namespace-group>
        </uib-accordion-group><!-- end of namespace prefix group -->

        <uib-accordion-group heading="Endpoint" is-open="true">
          <endpoint-group></endpoint-group>
        </uib-accordion-group>

      </uib-accordion>

      <p class="footer">&copy; 2015 by Marc Weise</p>

    </div><!--end of sidebar -->
  </div><!-- end of .row -->
</div><!-- end of .container-fluid -->
