<!--suppress HtmlUnknownTarget -->
<div class="container-fluid">
  <div class="row">

    <!-- Graph view -->

    <div class="col-sm-9 col-md-10 main">
      <div id="graph" node-link-graph margin="10" height="840" on-click="onClick(item)">
      </div>
    </div>

    <!-- Sidebar for details -->

    <div class="col-sm-3 col-md-2">
      <uib-accordion close-others="false">

        <uib-accordion-group is-open="showSelection">

          <uib-accordion-heading>
            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> Selection
          </uib-accordion-heading>

          <p ng-hide="selected.type !== ''">
            Select a class or property to see more details.
          </p>

          <!-- for selected classes -->
          <div ng-show="selected !== undefined && selected.type === 'class'">
            <p ng-hide="selected.name === ''">
              <strong>Label:</strong> {{selected.name}}
            </p>

            <p>
              <strong>Type:</strong> {{selected.type}}
            </p>

            <p>
              <strong>URI:</strong> <a href="{{selected.uri}}" target="_blank">{{ selected.uri }}</a>
            </p>

            <p ng-show="selected.equivalentURI !== undefined">
              <strong>Equivalent Class:</strong>
              <a href="{{selected.uri}}" target="_blank">{{selected.equivalentURI | uriLabel}}</a>
            </p>

            <p>
              <strong># Instances:</strong>
              {{selected.value | number}}
            </p>

            <p ng-hide="selected.comment === undefined">
              <strong>Comment:</strong>
              <span>{{ selected.comment }}</span>
            </p>
          </div>

          <!-- for selected datatype properties -->
          <div ng-show="selected !== undefined && selected.type === 'datatypeProperty'">
            <p>
              <strong>Type:</strong> datatype property
            </p>

            <p ng-hide="selected.props.length < 1">
              <strong>URI:</strong>
              <a href="{{selected.props[0].uri}}" target="_blank">
                {{selected.props[0].uri}}
              </a>
            </p>

            <p>
              <strong>From instances of:</strong>
              <a href="{{selected.sourceURI}}" target="_blank">
                {{selected.sourceName}}
                <span ng-hide="selected.sourceName.length > 0">{{selected.sourceURI | uriLabel}}</span>
              </a>
            </p>

            <p>
              <strong>To instances of data type:</strong>
              <a href="{{selected.targetURI}}" target="_blank">
                {{selected.targetURI | uriLabel}}
              </a>
            </p>
          </div>

          <!-- for selected properties -->
          <div ng-show="selected !== undefined && selected.type === 'property'">
            <p>
              <strong>Type:</strong> {{selected.type}}
            </p>

            <p>
              <strong>From instances of:</strong>
              <a href="{{selected.sourceURI}}" target="_blank">
                {{selected.sourceName}}
                <span ng-hide="selected.sourceName.length > 0">{{selected.sourceURI | uriLabel }}</span>
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </p>

            <p>
              <strong>To instances of:</strong>
              <a href="{{selected.targetURI}}" target="_blank">
                {{selected.targetName}}
                <span ng-hide="selected.targetName.length > 0">{{selected.targetURI | uriLabel }}</span>
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            </p>

            <p>
              <strong ng-if="selected.props.length <= vm.numberOfProps">
                Properties ({{selected.props.length}}):
              </strong>
              <strong ng-if="selected.props.length > vm.numberOfProps">
                Properties ({{vm.numberOfProps}} of {{selected.props.length}}):
              </strong>
            </p>

            <div class="prop-list">
              <ul class="properties">
                <li ng-repeat="p in selected.props | limitTo: vm.numberOfProps">
                  <a href="{{p.uri}}" target="_blank">
                    {{p.uri | uriLabel}}
                    <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </li>
              </ul>
              <button ng-hide="selected.props.length < vm.numberOfProps" type="button" class="btn btn-link"
                      ng-click="vm.incNumberOfProps()">
                more ...
              </button>
            </div>

            <p ng-hide="selected.comment === undefined">
              <strong>Comment:</strong>
              <span>{{ selected.comment }}</span>
            </p>
          </div>

        </uib-accordion-group>

        <uib-accordion-group is-open="false">

          <uib-accordion-heading>
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filters
          </uib-accordion-heading>

          <form class="form-horizontal">
            <div class="checkbox">
              <label for="showLiterals">
                <input id="showLiterals" type="checkbox" ng-model="vm.extractTypes" ng-change="vm.toggleTypes()">
                Show Types
              </label>
            </div>
            <div class="checkbox">
              <label for="includeLoops">
                <input id="includeLoops" type="checkbox" ng-model="vm.includeLoops" ng-change="vm.toggleLoops()">
                Include loops
              </label>
            </div>
          </form>

        </uib-accordion-group>

        <uib-accordion-group heading="Graph">
          <p>
            <label for="edgeLength">Edge Length: {{edgeLength}}</label>
            <div id="edgeLength" slider class="cdbl-slider" model="edgeLength" min="10" max="100"></div>
          </p>
        </uib-accordion-group>

        <uib-accordion-group heading="Endpoint" is-open="true">
          <p>
            <strong>URL:</strong>
            <a href="{{vm.endpointURL}}" target="_blank">{{vm.endpointURL}}</a>
          </p>

          <p>
            <strong>Pending Requests:</strong>
            <span ng-hide="pendingRequests === 0">{{pendingRequests | number}}
              <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
            </span>
            <span ng-show="pendingRequests === 0">None</span>
          </p>

          <p>
            <strong>Successful Requests:</strong>
            <span ng-hide="successfulRequests === 0">{{successfulRequests | number}}</span>
            <span ng-show="successfulRequests === 0">None</span>
          </p>

          <p>
            <strong>Failed Requests:</strong>
            <span ng-hide="failedRequests === 0">{{failedRequests | number}}</span>
            <span ng-show="failedRequests === 0">None</span>
          </p>

        </uib-accordion-group><!-- end of endpoint group -->

      </uib-accordion>

      <p class="footer">&copy; 2015 by Marc Weise</p>

    </div><!--end of sidebar -->
  </div><!-- end of .row -->
</div><!-- end of .container-fluid -->
