<div class="container">
  <h2>General</h2>
  <form class="form-horizontal well">

    <div class="form-group">
      <label class="control-label col-sm-2" for="lang">Languages</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="lang" ng-model="vm.langPreferences">
      </div>

      <label for="limit" class="col-sm-2 control-label">Limit</label>
      <div class="col-sm-4">
        <input class="form-control" id="limit" type="number" ng-model="vm.currentLimit" />
      </div>
    </div>
    </form>

    <h2>Blacklists</h2>
    <form class="form-horizontal well">

    <div class="form-group">
      <label class="control-label col-sm-2">Classes</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="classBlacklist" rows="10" ng-model="vm.classBlacklistInput">
        </textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="propBlacklist">Properties</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="propBlacklist" rows="10" ng-model="vm.propertyBlacklistInput">
        </textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <div class= "pull-right">
          <button type="button" class="btn btn-default" ng-click="vm.restoreDefaults()">
            Restore Defaults
          </button>
          <button type="button" class="btn btn-primary" ng-click="vm.save()">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>

</div>
